h1 {
    color: blue;
}

img {
    width: 400px;
}

#thirdDiv {
    background-color: red;
    height: 600;
    width: 500;
    padding: 50px;
    border: 20px solid blue;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}